.round-container {
    border-radius: 25px;
    border: 5px solid #2E64FE;
    padding: 20px; 
	width: 50%;
}
.align-left{
	margin-top: 10px;
	text-align:center;
	float: left;
	
}
.align-right{	
	margin-top: 10px;
	text-align:center;
	float: right;
	
}

